<section id="content">
  <div class="container">
    <div class="row">
      <div class="block-header">
        <h2>Your Thrivers!</h2>
      </div>

      <div class="col-md-5">
        <%= render partial: 'users/grid' %>
      </div>

      <div class="col-md-6">
        <%= render partial: 'users/wall' %>
      </div>


  <div class="container">

      <div class="mini-charts">
        <div class="row">

          <div class="col-sm-2">
            <div class="mini-charts-item bgm-cyan">
              <div class="clearfix">
                <div class="chart stats-bar">
                  <canvas width="60" height="45" style="display: inline-block; width: 60px; height: 45px; vertical-align: top;"></canvas>
                </div>
                <div class="count">
                  <small>Subscribed Users</small>
                  <h2>852</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="mini-charts-item bgm-lightgreen">
              <div class="clearfix">
                <div class="chart stats-line">
                  <canvas width="60" height="45" style="display: inline-block; width: 60px; height: 45px; vertical-align: top;"></canvas>
                </div>
                <div class="count">
                  <small>Recent Users</small>
                  <h2>76</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="mini-charts-item bgm-indigo">
              <div class="clearfix">
                <div class="chart stats-line">
                  <canvas width="60" height="45" style="display: inline-block; width: 60px; height: 45px; vertical-align: top;"></canvas>
                </div>
                <div class="count">
                  <small>New Users</small>
                  <h2>47</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="epc-item bgm-pink" style="height: 265px">
              <div class="easy-pie main-pie" data-percent="15">
                <div class="percent" style="margin: 0px">15
                </div>
                <h2 class="pie-title">Severe</h2>
                <canvas height="50" width="50" style="height: 50px; width: 50px;"></canvas>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="epc-item bgm-yellow" style="height: 265px">
              <div class="easy-pie main-pie" data-percent="32">
                <div class="percent" style="margin: 0px">32
                </div>
                <h2 class="pie-title">Moderate</h2>
                <canvas height="50" width="50" style="height: 50px; width: 50px;"></canvas>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="epc-item bgm-green" style="height: 265px">
              <div class="easy-pie main-pie" data-percent="53">
                <div class="percent" style="margin: 0px">53
                </div>
                <h2 class="pie-title">Low</h2>
                <canvas height="50" width="50" style="height: 50px; width: 50px;"></canvas>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="block-header">
            <h2>Completed Action Steps</h2>
          </div>

          <div class="col-sm-1">
          </div>

          <div class="col-sm-2">
            <div class="epc-item bgm-pink">
              <div class="easy-pie main-pie" data-percent="15">
                <div class="percent">15</div>
                <h2 class="pie-title">Diet</h2>
                <canvas height="250" width="250" style="height: 110px; width: 110px;"></canvas>
              </div>
            </div>
          </div>


          <div class="col-sm-2">
            <div class="epc-item bgm-orange">
              <div class="easy-pie main-pie" data-percent="28">
                <div class="percent">28</div>
                <h2 class="pie-title">Movement</h2>
                <canvas height="250" width="250" style="height: 110px; width: 110px;"></canvas>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="epc-item bgm-green">
              <div class="easy-pie main-pie" data-percent="15">
                <div class="percent">15</div>
                <h2 class="pie-title">Environment</h2>
                <canvas height="250" width="250" style="height: 110px; width: 110px;"></canvas>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="epc-item bgm-purple">
              <div class="easy-pie main-pie" data-percent="17">
                <div class="percent">17</div>
                <h2 class="pie-title">Rejuvenation</h2>
                <canvas height="250" width="250" style="height: 110px; width: 110px;"></canvas>
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="epc-item bgm-indigo">
              <div class="easy-pie main-pie" data-percent="25">
                <div class="percent">25</div>
                <h2 class="pie-title">Spirit</h2>
                <canvas height="250" width="250" style="height: 110px; width: 110px;"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
