<ol class="breadcrumb">
  <li><a href="<%= indications_path %>">Indications</a></li>
  <li class="active">Edit Indication</li>
</ol>
<section id="content">
  <div class="container">
    <div class="block-header">
        <h2>Viewing your Indication</small></h2>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body p-25">
                    <%= render partial: 'rate' if @indication.premium %>
                    <%= render partial: 'form' %>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h5>Creating Indications</h5>
            <p>This form allows you to review the details of your indication.</p>
            <h6>Additional Info.</h6>
            <p>All rates provided are estimates only until receipt of the final application.</p>
        </div>
    </div>
    <%= link_to 'Back', indications_path %>
  </div>
</section>

