<section id="content">
    <div class="container ">
        <div class="block-header">
            <h2>Search Results</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                
                <div class="card-header bgm-bluegray m-b-20">
                    <h2>Matches <small>View all models in the system, including those provided by external gems. Manage all custom models here.</small></h2>
                    <ul class="actions actions-alt">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-sort"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Ascending Model Name</a>
                                </li>
                                <li>
                                    <a href="">Descending Model Name</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="">Ascending Attribute Count</a>
                                </li>
                                <li>
                                    <a href="">Descending Attribute Count</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Show Custom Models Only</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    
                </div>
                <div class="card-body">
                    <div class="listview lv-bordered lv-lg">
                        <div class="lv-body">
                            <% (1..10).each do |model| %>
                            <div class="lv-item media">
                                <div class="checkbox pull-left actions">
                                    <label style="top: 2px; padding-left: 20px;">
                                        <input type="checkbox" value="" title="Select/Deselect">
                                        <i class="input-helper"></i>
                                    </label>
                                    <a href="#" title="Inspect">
                                        <i class="zmdi zmdi-search"></i>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="lv-title">Hello Motto
                                        <ul class="lv-attrs pull-right">
                                            <span class="badge bgm-pink m-r-15">Got Milk?</span>
                                        </ul>
                                    </div>
                                    <small class="lv-small">Yes indeed</small>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                    
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
