<% @user_health_attributes.each_with_index do |uha, i| %>
<div class="input-group m-b-20">
  <span class="input-group-addon"></span>
  <div class="fg-line">
    <span style="padding-right: 10px;">no</span>
    <div class="toggle-switch" data-ts-color="blue">

      <%= form_for(uha, url: (uha.new_record? ? uhas_path : user_health_attribute_path(id: uha.id)), method: (uha.new_record? ? :post : :patch)) do |f| %>
      <input id= f.answer type="checkbox" checked="true" hidden="hidden">
      <label for=f.answer class="ts-helper"></label>
      <label for=f.answer class="ts-label" style="padding-left: 10px;">yes </label>
      <span> <%= uha.health_attribute.name.humanize %>: </span>
      <% end %>
    </div>
  </div>
</div>

<% end %>


<%= content_for :body_end  do %>
<script>
  $(function() {
    registerTabPanel('#profile-tabs');
  });
</script>
<% end %>


