<%= form_for(@email_message, url: (@email_message.new_record? ? email_messages_path : notification_path(id: @email_message.id)), method: (@email_message.new_record? ? :post : :patch)) do |f| %>
  <h4>Email Thriver</h4>
  <p>Complete the details below to send an email to the participant.</p>
  <div class="input-group m-b-10">
    <span class="input-group-addon"></span>
    <div class="fg-line">
      <%= f.label :body %>
      <%= f.text_field :body, class: 'form-control', placeholder: 'body of the email' %>
    </div>
  </div>

  <br>
  <br>
  <%= f.submit(("Submit"), :class => 'btn bgm-tertiary float-right') %>
<% end %>

