<section id="content">
  <div class="container">
    <% if @agency.errors.count > 0 %>
      <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Oops!</h4>
          <% @agency.errors.full_messages.each do |e| %>
            <p id="notice"><%= e %></p>
          <% end %>
      </div>
    <% end %>

    <div class="block-header">
      <h2>New Agency<small>This form allows you to setup a new agency, agents, and access to your favorite rater bots.</small></h2>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body p-25">
            <%= render partial: 'form' %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Creating Agencies</h5>
        <p>Setup your agency first, then your agents.</p>
        <h6>Configuring Access</h6>
        <p>Input your credentials to allow your raterbots to get rates from the programs you have access to.</p>
      </div>
    </div>
  </div>
</section>
