<% broadcast_notifications =  User.current.notifications.unread.broadcast %>
<% if broadcast_notifications.count > 0 %>
  <% @notification =  User.current.notifications.unread.broadcast.first %>
  <section id="content">
    <div class="container ">
      <div class="row">
        <div class="col-md-11">
          <div class="alert alert-success alert-dismissible" role="alert">
            <%= form_for(@notification, url: notification_path(id: @notification.id), method: :patch) do |f| %>
              <%= broadcast_notifications.map(&:content).join(', ') %>
              <%= f.button(type: "submit", class: "close") do %>
                  <span aria-hidden="true">×</span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
