<header id="header" data-current-skin="orange">
  <ul class="header-inner">
    <% if User.current %>
    <li id="menu-trigger" data-trigger="#sidebar">
      <div class="line-wrap">
        <div class="line top"></div>
        <div class="line center"></div>
        <div class="line bottom"></div>
      </div>
    </li>
    <li class="logo hidden-xs">
      <a href="<%= User.current ? dashboard_path(User.current) : root_path %>">Mission Hope Cancer Center</a>
    </li>
    <li class="pull-right">
      <ul class="top-menu">

        <li id="top-search">
          <a href=""><i class="tm-icon zmdi zmdi-search"></i></a>
        </li>

        <li class="dropdown">
          <a data-toggle="dropdown" href="">
            <i class="tm-icon zmdi zmdi-email"></i>
            <i class="tmn-counts">2</i>
          </a>
          <div class="dropdown-menu dropdown-menu-lg pull-right">
            <div class="listview">
              <div class="lv-header">
                Messages
              </div>
              <div class="lv-body">
                <a class="lv-item" href="">
                  <div class="media">
                    <div class="pull-left">
                      <img class="lv-img-sm" src= <%= asset_path('profile-pics/1.jpg') %>  alt="">
                    </div>
                    <div class="media-body">
                      <div class="lv-title">David Belle</div>
                      <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                    </div>
                  </div>
                </a>
                <a class="lv-item" href="">
                  <div class="media">
                    <div class="pull-left">
                      <img class="lv-img-sm" src= <%= asset_path('profile-pics/2.jpg') %>  alt="">
                    </div>
                    <div class="media-body">
                      <div class="lv-title">Jonathan Morris</div>
                      <small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
                    </div>
                  </div>
                </a>
              </div>
              <a class="lv-footer" href="">View All</a>
            </div>
          </div>
        </li>
        <%= render partial: 'notifications/summary', locals: {user: @user} %>

        <li class="dropdown">
          <a data-toggle="dropdown" href=""><i class="tm-icon zmdi zmdi-palette"></i></a>
          <ul class="dropdown-menu dm-icon pull-right">
            <li class="skin-switch hidden-xs">
              <span class="ss-skin bgm-red" data-skin="red"></span>
              <span class="ss-skin bgm-pink" data-skin="pink"></span>
              <span class="ss-skin bgm-purple" data-skin="purple"></span>
              <span class="ss-skin bgm-orange" data-skin="orange"></span>
              <span class="ss-skin bgm-yellow" data-skin="yellow"></span>
              <span class="ss-skin bgm-green" data-skin="green"></span>
              <span class="ss-skin bgm-bluegray" data-skin="bluegray"></span>
              <span class="ss-skin bgm-cyan" data-skin="cyan"></span>
              <span class="ss-skin bgm-teal" data-skin="teal"></span>
              <span class="ss-skin bgm-indigo" data-skin="indigo"></span>
            </li>
            <li class="divider hidden-xs"></li>
            <li class="hidden-xs">
              <a data-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <% end %>
  </ul>
</header>
